@import "tailwindcss";


* {
  cursor: pointer !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}




.custom-cursor,
.custom-cursor2 {
  position: fixed;
  /* MUST be fixed, not relative */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  top: 0;
  left: 0;
  /* start at 0 so JS positions correctly */
  transform: translate(-50%, -50%);
  /* center the circle on the cursor */
  transition: background 0.2s ease;
}

.custom-cursor {
  background: white;
}

.custom-cursor2 {
  width: 12px;
  height: 12px;
  background: #00ff7f;
  opacity: 0.6;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.8;
  }

  50% {
    transform: translate(-50%, -50%) scale(1.4);
    opacity: 0.4;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.8;
  }
}


.elegantText {
  letter-spacing: 0.05em;

  transition: all 0.7s ease;

  line-height: 1.4;
  font-style: italic;
  font-weight: 700;


  text-shadow: 0 0 20px rgba(255, 255, 255, 0.08);
}
